<app-nav-bar></app-nav-bar>
<div class="main">
  <div class="table-container">
    <div mat-dialog-title >
      <h2>Employee list </h2>
    </div>
    <table mat-table [dataSource]="employees$  | async" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> <b>ID</b> </th>
        <td mat-cell *matCellDef="let row"> {{row.id + '.'}} </td>
      </ng-container>

      <!-- First name Column -->
      <ng-container matColumnDef="firstName" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header> <b>First name </b></th>
        <td mat-cell *matCellDef="let row"> {{row.firstName}} </td>
      </ng-container>

      <!-- Last name Column -->
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> <b>Last name</b> </th>
        <td mat-cell *matCellDef="let row"> {{row.lastName}} </td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> <b>E-mail</b> </th>
        <td mat-cell *matCellDef="let row"> {{row.email}} </td>
      </ng-container>

       <!-- Date Column -->
       <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> <b>Date</b> </th>
        <td mat-cell *matCellDef="let row"> {{row.date | date}} </td>
      </ng-container>

       <!-- Gender Column -->
       <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> <b>Gender</b> </th>
        <td mat-cell *matCellDef="let row"> {{row.gender}} </td>
      </ng-container>

       <!-- Education Column -->
       <ng-container matColumnDef="education">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> <b>Education</b> </th>
        <td mat-cell *matCellDef="let row"> {{row.education}} </td>
      </ng-container>

       <!-- Company Column -->
       <ng-container matColumnDef="company">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> <b>Company</b> </th>
        <td mat-cell *matCellDef="let row"> {{row.company}} </td>
      </ng-container>

       <!-- Experience Column -->
       <ng-container matColumnDef="experience">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> <b>Experience</b> </th>
        <td mat-cell *matCellDef="let row"> {{row.experience}} </td>
      </ng-container>

       <!-- Country Column -->
       <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> <b>Country</b> </th>
        <td mat-cell *matCellDef="let row"> {{row.country}} </td>
      </ng-container>

       <!-- Action  Column -->
       <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> <b>Action</b> </th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button color="primary" (click)="updateEmployee(row)">
            <mat-icon>Edit</mat-icon>
          </button>

          <button mat-icon-button color="warn" (click)="deleteEmployee(row.id)">
            <mat-icon>Delete</mat-icon>
          </button>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->

    </table>


  </div>
</div>





