<div mat-dialog-title >
  <h3>Employee Register Form</h3>
</div>
<form [formGroup]="empForm" >
  <div mat-dialog-content class="content">
    <div class="row">
      <mat-form-field >
        <mat-label>First Name</mat-label>
        <input matInput type="email" formControlName="email" >
      </mat-form-field>

    </div>

    <div class="row">
      <mat-form-field  >
        <mat-label>Experience (years)</mat-label>
        <input matInput  type="number" formControlName="experience">
      </mat-form-field>
      <mat-form-field  >
        <mat-label>Country</mat-label>
        <input matInput  formControlName="country">
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions class="action">
    <button mat-raised-button color="primary" type="submit">Register</button>
    <button mat-raised-button color="warn" >Cancel</button>
  </div>
</form>
